<?= $this->user_name; ?> podpierdolił następujące osoby:

<table id="detailsTable">
    <thead>
        <tr>
            <td>Timestamp</td>
            <td>Kto zgłosił</td>
            <td>Kogo podjebał</td>
            <td>Komentarz</td>
            <td>Jak</td>
        </tr>
    </thead>
    <tbody>
<?php
foreach ($this->delations as $index => $delation){
    if($this->delations[$index-1]['timestamp'] != $delation['timestamp'] ){
        echo "<tr><td>{$delation['timestamp']}</td>";
        echo "<td>" . $this->escape($delation->Author['name']) . "</td>";
        echo "<td>" . $this->escape($delation->DelatedUser['name']) .  "</td>";
        echo "<td>" . $this->escape($delation->Comment['comment']) . "</td>";
    } else { echo "<td></td><td></td><td></td><td></td>"; }
    echo "<td>{$delation->Point['name']}</td></tr>";
}

?>
    </tbody>
</table>
