body {
    font-family: "Droid Sans", "Calibri", "Arial", "sans-serif";
    background-color: #ccc;
}
p {
    font-size: 12px;
}
div.wrapper {
    margin: 0 auto;
    width: 99%;
}
div.menuDiv {
    border: 1px black solid;
    float: left;
    min-width: 220px;
    width: 20%;
    padding: 5px;
    background-color: white;
    clear: both;
}
div.content {
    width: 76%;
    border: 1px black solid;
    margin-left: 280px;
    padding: 5px;
    background-color: white;
}
ul.menu,ul.formGroup {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.formGroup {
    display: table-row;
}
ul.formGroup li {
    display: inline;
}
ul.formGroup li.formLabel {
    min-width: 100px;
    font-size: 14px;
    display: table-cell
}
ul.formGroup li.formElement {
    font-size: 14px;
    display: table-cell
}
ul.errors {
    padding: 0;
    color: red;
    font-size: 12px;
}

ul.menu {
    font-size: 14px;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: none;
    color: #888eee;
}
ul.menu a {
    border-left: 0;
    padding-left: 20px;
}
ul.menu a:hover {
    border-left: 15px #999 solid;
    padding-left: 5px;
}
div.tableList table td {
    font-size: 12px;
}
ul.taglist li {
    font-size: 12px;
    display: inline;
}
div#embedded_video {
    width: 520px;
}
div.rightMenu {
    float: right;
    text-align: left;
    width: 40%;
}
div.leftColumn {
    width: 56%;
    overflow: auto;
}
p.title {
    font-size: 16px;
    border-bottom: 4px #999 solid;
}
table, td {
    border: 1px #333 solid;
    border-collapse: collapse;
    border-bottom: 1px #ddd solid;

}
td {
    padding: 3px;
    border-color: #ddd;
    border-top: 0;
    border-bottom: 0;
    vertical-align: top;
}
th {
    background-color: #333;
    color: #fff;
}
tr:nth-child(even) {
    background: #fff;
}
tr:nth-child(odd) {
    background: #ddd;
}
div.formLayout {
    width: 72%;
}
ul.rowlist {
    list-style-type: none;
    font-size: 12px;
}
p.action {
    border-left: 10px #999 solid;
    padding-left: 5px;
}
div.actionInline {
    margin-top: 10px;
}
div.actionInline p.action {
    margin-right: 10px;
    display: inline;
}

#detailsTable {
    border: 1px solid lightgray;
}