<?= $this->form; ?>
<table>
    <tr>
        <th>Imie</th>
        <th>Punkty</th>
    </tr>
<?php foreach ($this->rank as $row): ?>
<tr>
<td><a href="details?user_id=<?= $row['id_user'] ?>"><?= $this->escape($row['name']) ?></a></td>
<td><?= $row['total'] ?></td>
</tr>
<?php endforeach; ?>
</table>
