Najczęściej podpierdalany:
<table>
<tr>
    <th>Podpierdalany</th>
    <th>Ile</th>
    <th>Rok:Tydzień</th>
</tr>
<?php foreach ($this->weeklyRank as $row): ?>
<tr>
    <td><?= $this->escape($row->DelatingUser->name) ?></td>
    <td><?= $row->total ?></td>
    <td><?= $row->yearweek ?></td>
</tr>
<?php endforeach; ?>
</table>
