<?= $this->doctype() ?>
<?php
/*
 * Layout and css, including JS menu are taken from example:
 * http://webhosting.pl/CSS.Sprites.Jak.opracowac.proste.dynamiczne.menu.dla.stron.WWW
 */
?>
<html>
    <head>
        <?= $this->headTitle() ?>
        <?= $this->headMeta() ?>
        <?= $this->headScript() ?>
        <?= $this->headLink() ?>
        <?= $this->headStyle() ?>
    </head>
    <body>
        <div id="wrapper">
            <div id="content">
                <div class="section-container" id="header">
                    <h1>Zbieraj punkty za podpierdalanie w pracy</h1>

                    <div id="breadcrumbs">
                    <?= $this->navigation($this->breadcrumbsContainer)->breadcrumbs(); ?>
                   </div>

                    <?php
                    $request = Zend_Controller_Front::getInstance()->getRequest();
                    $controller = $request->getControllerName();
                    $action = $request->getActionName();
                    if (! in_array($controller, array('index', 'login')) || $action != 'index'): ?>
                    <div id="goback">
                        <a href="<?= $this->url(array('controller' => 'index', 'action' => 'index')) ?>">Powrót</a>
                    </div>
                    <?php endif ?>

                    <?php if (Zend_Auth::getInstance()->hasIdentity()): ?>
                    <div id="logout">
                        <a href="<?= $this->url(array('controller' => 'logout', 'action' => 'index')) ?>">Wyloguj</a>
                    </div>
                    <?php endif ?>
                </div>

                <div class="section-container" id="text">
                    <?= $this->layout()->content ?>
                </div>

                <div id="menu">
                <?= $this->navigation($this->menuContainer)->menu(); ?>
                </div>

                <div class="clr"></div>

                <div class="section-container" id="footer">
                    &copy; <?=date('Y')?> SMT Software S.A.
                </div>
            </div>
        </div>
    </body>
</html>
